  <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="{:url('index/admin')}" class=" active-menu waves-effect waves-dark"><i class="fa fa-qrcode"></i> 门店管理</a>
                    </li>
                    
                    <li>
                        <a href="{:url('index/workerlist')}" class="active-menu waves-effect waves-dark"><i class="fa fa-table"></i> 员工管理</a>
                    </li>
                    <li>
                        <a href="{:url('user/userlist')}" class=" active-menu waves-effect waves-dark"><i class="fa fa-edit"></i> 用户管理 </a>
                    </li>


                   
                  
                </ul>

            </div>

        </nav>
  <!-- JS Scripts-->
  <!-- jQuery Js -->

  <script src="__STATIC__/assets/js/jquery-1.10.2.js"></script>
  <!-- Bootstrap Js -->
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>
  
  <script src="__STATIC__/assets/materialize/js/materialize.min.js"></script>
  
    <!-- Metis Menu Js -->
    <script src="__STATIC__/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="__STATIC__/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="__STATIC__/assets/js/morris/morris.js"></script>
  
  
  <script src="__STATIC__/assets/js/easypiechart.js"></script>
  <script src="__STATIC__/assets/js/easypiechart-data.js"></script>
  
   <script src="__STATIC__/assets/js/Lightweight-Chart/jquery.chart.js"></script>
  
    <!-- Custom Js -->
    <script src="__STATIC__/assets/js/custom-scripts.js"></script> 
 
