
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img style='width: 60px;height:60px;border-radius: 50%' src="__STATIC__/images/sysadmin/logo.jpg" />

                    </a>
                    
                </div>
               
                <span class="logout-spn" >
                  <a href="{:url('index/login')}" style="color:#fff;">退出</a>  

                </span>
                   <span class="header-spn" >
                  <a href="" style="color:#fff;">欢迎,{$name | default='xxx'}</a>  

                </span>
                <!--  </span>
                   <span class="head-spn pull-left" >
                  <a href="" style="color:#fff;">海医实验室管理系统</a>  

                </span> -->
            </div>
        </div>