        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                 


                    <li class="active-link">
                        <a href="{:url('index/index')}" ><i class="fa fa-desktop "></i>主页 <span class="badge"></span></a>
                    </li>
                   

                    <li>
                        <a href="{:url('yiqi/yiqiview')}"><i class="fa fa-table "></i><span class="badge">器材管理</span></a>
                    </li>
                    <li>
                        <a href="{:url('yiqi/drugview')}"><i class="fa fa-edit "></i><span class="badge">药品管理</span></a>
                    </li>
                    <li>
                        <a href="blank.html"><i class="fa fa-edit "></i><span class="badge">人员管理</span></a>
                    </li>
                    <li>
                        <a href="{:url('apply/applyview')}"><i class="fa fa-edit "></i><span class="badge">申请记录</span></a>
                    </li>
                      <li>
                        <a href="blank.html"><i class="fa fa-edit "></i><span class="badge">其他管理</span></a>
                    </li>


                    

           
                    
                </ul>
            </div>

        </nav>