
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    {block name="title"}
        <title>
            实验室管理系统
        </title>
    {/block}
  
    <!-- BOOTSTRAP STYLES-->
    <link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="__CSS__/sysadmin/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="__CSS__/sysadmin/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
     