{extend name="public/base" /}
{block name="content"}

<div class="row">

  <form method="post" class="form-x" action="{:url('yiqi/addone')}">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
          <h4>添加新器材</h4>
          <div class="input-group">
            <span class="input-group-addon">器材名称:</span>
            <input type="text" class="form-control" placeholder="名称"  name="name" />
          </div>
          <br />
         
          <div class="input-group">
            <span class="input-group-addon">规格型号:</span>
            <input type="text" class="form-control" placeholder="规格、型号" name="ggxh"/>
          </div>
          <br />
        
          <div class="input-group">
            <span class="input-group-addon">所属分类:</span>&nbsp
            <td class='center-block'><select class="btn " onchange="selectApar()" id="selectSex" name='cla'>
                            <option value="">选择新器件所属分类</option>
                             {volist name="list" id="l"}      
                              <option value="{$l.cl_id}">{$l.c_name}</option>
                             {/volist}
                            
                          
                    </select></td>
          </div>
          <br />
         
          <div class="input-group">
            <span class="input-group-addon">来源公司:</span>
            &nbsp
            <td class='center-block'><select class="btn " onchange="selectApar()" id="selectSex" name='com'>
                            <option value="">选择来源公司</option>
                             {volist name="list1" id="o"}      
                              <option value="{$o.com_id}">{$o.com_name}</option>
                             {/volist}
                    </select></td>
          </div>
          <br />

          <div class="input-group">
            <span class="input-group-addon">入库数目:</span>
            <input type="text" class="form-control" placeholder="数目" name='num' />
          </div>
          <br />
          <input type="submit" class="btn   btn-primary">


    </div>

    </form>
</div>
{/block}

