  <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card">
                     
                        <div class="card-content">
                              <form class="form-group " method="post" action="../../publicapp/video/upload?type={$name}&id={$id}" role="form" enctype="multipart/form-data">
                              <label>{$name}名称</label><input type="text" name="name">
                              <label>{$name1}</label><input class="form-control" type="{$type}" style='display: {$n}' name="name1"/>
                              <label>{$name2}</label><input class="form-control" type="{$type1}" style='display: {$n1}'  name="name2"/>
                            
                              <label>{$name3}</label><input class="form-control" style="height:50px  " type="tetxarea" name="name3"/>
                              
                          <input type="submit" class="btn "></input>
                        </form>
                        </div>
                            
                    </div>
                   
                    <!--End Advanced Tables -->
                </div>
            </div>