  <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu waves-effect waves-dark" href="{:url('teacher/theme')}"><i class="fa fa-dashboard"></i> 主题管理</a>
                    </li>
                <!--     <li>
                        <a href="{:url('video/videos')}" class="active-menu waves-effect waves-dark"><i class="fa fa-desktop"></i> 视频管理</a>
                    </li> -->
        
                    <li>
                        <a href="{:url('files/fileslist')}" class=" active-menu waves-effect waves-dark"><i class="fa fa-qrcode"></i>文章管理</a>
                    </li>
                    
                    <li>
                        <a href="{:url('user/userlist')}" class="active-menu waves-effect waves-dark"><i class="fa fa-table"></i>人员管理</a>
                    </li>
                  <!--   <li>
                        <a href="{:url('topic/topiclist')}" class=" active-menu waves-effect waves-dark"><i class="fa fa-edit"></i> 留言管理 </a>
                    </li> -->
                    <li>
                        <a href="{:url('exam/exams')}" class=" active-menu waves-effect waves-dark"><i class="fa fa-edit"></i> 考试管理 </a>
                    </li>
                  


                 <!--    <li>
                        <a href="#" class=" active-menu waves-effect waves-dark"><i class="fa fa-sitemap"></i>考试管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{:url('exam/exams')}">考试发布</a>
                            </li>
                            <li>
                                <a href="#">考试成绩</a>
                            </li>
                           
                        </ul>
                    </li> -->
                  
                </ul>

            </div>

        </nav>
  <!-- JS Scripts-->
  <!-- jQuery Js -->

  <script src="__STATIC__/assets/js/jquery-1.10.2.js"></script>
  <!-- Bootstrap Js -->
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>
  
  <script src="__STATIC__/assets/materialize/js/materialize.min.js"></script>
  
    <!-- Metis Menu Js -->
    <script src="__STATIC__/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="__STATIC__/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="__STATIC__/assets/js/morris/morris.js"></script>
  
  
  <script src="__STATIC__/assets/js/easypiechart.js"></script>
  <script src="__STATIC__/assets/js/easypiechart-data.js"></script>
  
   <script src="__STATIC__/assets/js/Lightweight-Chart/jquery.chart.js"></script>
  
    <!-- Custom Js -->
    <script src="__STATIC__/assets/js/<!-- custom -->-scripts.js"></script> 
 
